//main: ../mobile.less
.App-content-item {
    padding: 10px 10px 0px;
    width: 100%;
    .app-info {
        display: flex;
        .thumbnail {
            img {
                width: 125px;
                height: 95px;;
                object-fit: cover;
                object-position: top;
            }
        }
        .app-info-item {
            padding-right: 0px;
            padding-left: 10px;
            border-bottom: 1px soild #333;
            h3 {
                font-size: 16px;
                width: 100%;
                margin-bottom: 5px;
                a {
                    color: #333;
                }
            }
            .postmeta {
                font-size: 12px;
                span.category {
                    font-weight: 500;
                    margin-right: 5px;
                    a {
                        color: rgb(82, 81, 81);
                    }
                }
            }
        }
        .App-icon .App-format::before {
            font-size: 17px;
        }
    }
}
#App {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
    position: relative;
    h5 {
        margin: 0px;
        font-size: 14px;
        font-weight: 400;
        i {
            margin-right: 5px;
        }
    }
}
@-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }
  .timeline-item {
    background: #fff;
    margin: 0 0 15px;
    min-height: 200px;
    width: 100%;
  }
  
  .animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 200px;
    position: relative;
  }
.load-thumbnail {
    position: absolute;
    width: 26rem;
    bottom: 0;
    right: 0;
    background: #fff;
    top: 75px;
}
.load-thumbnail.line {
    top: 17px;
    bottom: 160px;
    height: 15px;
}
.load-thumbnail.l1 {
    top: 47px;
    height: 15px;
}
.load-thumbnail.top {
  top: 0px;
  bottom: 180px;
  width: 27rem;
  right: 0rem;
}
.load-thumbnail.right {
    top: 30px;
    right: 0rem;
    width: 120px;
}
.load-thumbnail.left {
    top: 0;
    left: 19rem;
    width: 15px;
}
.load-thumbnail.r1 {
    right: 7rem;
    top: 3rem;
    width: 50px;
}