//main: ../mobile.less
header[data-elemt="App-header"],  {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 5px 0;
    background: #fb8239;
    position: fixed;
    right: 0;
    min-height: 50px;
    left: 0;
    z-index: 999;
    top: 0px;
    .App-header-content {
        display: flex;
        align-items: center;
        height: 40px;
        div[data-elemt="logo"] {
            padding: 0 10px;
            .App-logo {
                font-size: 18px;
                margin: 0px;
                a {
                    color: #fff;
                    font-weight: 400;
                    align-items: center;
                    span {
                        margin-right: 5px;
                        background: #fff;
                        height: 20px;
                        width: 20px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 90px;
                        color: #fb8139;
                        i {
                            font-size: 22px;
                        }
                    }
                }
                a.app-Nothome {
                    text-transform: uppercase;
                }
                a:hover {
                    text-decoration: none;
                }
            }
            .App-logo-desc {
                display: none;
            }
        }
    }
    //menu
    .App-menu-mobile {
        display: flex;
        display: -webkit-flex;
        padding: 0 10px;
        align-items: center;
        margin-top: 5px;
        .App-menu-mobile-button {
            margin-right: 10px;
            line-height: 0px;
            i {
                font-size: 1.6rem;
                line-height: 0;
                color: #888;
            }
        }
        .App-menu-mobile-text {
            span {
                a {
                    color: #333;
                    font-size: 16px;
                    font-weight: 500;
                    display: block;
                }
            }
        }
    }
}
