//main: ../global.less
.App-getContents{
    display: flex;
}
.App-content {
    padding: 15px 10px;
    margin-top: 40px;
    background: #ededed;
    .App-content-item {
        padding: 10px;
        .thumbnail {
            img {
                width: 100%;
            }
            .app-thumbnail-bg {
                display: block;
                background-position: center top;
                background-size: cover;
            }
        }
        .app-info {
            display: block;
            width: 100%;
            background: #fff;
            border: 1px solid #ebebf3;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
            h2 {
                font-size: 20px;
                font-weight: 500;
                margin: 0px;
                a {
                    color: #6b6d76;
                }
                a:hover {
                    text-decoration: none;
                }
            }
            .postmeta {
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-size: 13px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 65px;
                padding: 0 15px;
                font-weight: 600;
                .category {
                    a {
                        color: #4976c1;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                }
                span,time {
                    margin-right: 10px;
                }
                time {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            .desc {
                font-size: 15px;
                line-height: 24px;
                font-weight: 400;
                color: rgb(95, 91, 91);
                margin-bottom: 10px;
                p {
                    margin-bottom: 5px;
                }
            }
            .desc, .title {
                padding: 10px;
            }
            .footer {
                padding: 15px;
                border-top: 1px solid #f2f2f6;
                a {
                    font-size: 14px;
                    margin-right: 5px;
                }
                a::before {
                    content: "#";
                }
            }
        }
    }
}