//main: ../desktop.less
header {
    margin-top: 2rem;
    .App-header-before {
        background-color:#f1284e;
    }
    .container {
        padding: 0px;
    }
    div[data-elemt="logo"] {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        .App-logo {
            margin: 0;
            display: flex;
            align-items: center;
            //justify-content: center;
            font-weight: 300;
            a {
                font-size: 30px;
                color: #333;
                letter-spacing: 1px;
                span {
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }
            a:hover {
                text-decoration: none;
            }
        }
        .App-logo-desc {
            font-size: 15px;
        }
    }
    div.App-menu {
        ul {
            margin: 0px;
            padding: 0px;
            height: 100%;
            display: flex;
            li {
                padding: 0px;
                list-style: none;
                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px;
                    display: inline-flex;
                    align-items: center;
                    height: 100%;
                }
                a:hover {
                    text-decoration: none;
                }
            }
            li:hover {
                background: rgba(255, 255, 255, 0.05);
            }
        }
    }
}