//main: ../global.less
header {
    .App-header-content-before {
        background: #f1284e;
        width: 100%;
        position: relative;
        overflow: hidden;
        min-height: 40px;
        color: #fff;
        margin: 0 auto;
        a {
            color: #fff;
            width: 40px;
        }
        .App-socail {
            display: flex;
            align-self: center;
            flex-direction: row-reverse;
            i {
                font-size: 18px;
            }
        }
    }
    .App-header-contents {
        .App-logo {
            min-height: 94px;
            display: flex;
            align-items: center;
            font-weight: 300;
            margin: 0px;
        }
    }
}