//main: ../global.less
/**
 * Menu Category 
 */
.App-menu-category {
    margin-bottom: 1.2rem;
    ul {
        display: flex;
        margin: 0px;
        padding: 0px;
        border-bottom: 2px solid #333;
        li {
            list-style: none;
            a {
                padding: 5px 10px;
                color: #807e7e;
                font-size: 16px;
            }
            a:hover {
                text-decoration: none;
                background-color: #333;
                color: #fff;
            }
        }
        li.current-menu-item {
            a {
                background-color: #333;
                color: #fff;
            }
        }
    }
}