// out: ../css/app.global.min.css, compress: true, sourceMap: false
* {
    outline: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}
body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: normal;
    font-size: 17px;
    color: #515151;
}
a:hover {
    color: #f1284e;
}
//img 
img:not([src]) {
    visibility: hidden;
}
//icon
.App-icon {
    .App-format {
        line-height: 1.5;
    }
    .App-format::before {
        content: "";
        display: inline-block;
        font-family: "Ionicons";
        font-size: 22px;
        margin-right: 5px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .App-format-gallery::before {
        content: "\f148";
    }
    .App-format-image::before {
        content: "\f147";
    }
    .App-format-video::before {
        content: "\f4cd";
    }
    .App-format-link::before {
        content: "\f1fe";
    }
    .App-format-audio::before {
        content: "\f4ce";
    }
}
//footer 
footer.App-footer {
    background: #333;
    min-height: 50px;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    ul {
        margin: 0px;
        padding: 0px;
        height: 100%;
        li {
            display: inline-flex;
            list-style: none;
            color: #e8e8e8;
            margin-right: 10px;
            font-size: 13px;
            a {
                color: #e8e8e8;
                font-weight: 500;
            }
        }
    }
}
.App-loading {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    img {
        object-fit: cover;
        object-position: top;
        height: 140px;
        width: 150px;
    }
}
//App-youtube Button
.App-youtube {
	position: relative;
	cursor: pointer;
}
.App-youtube .play-button {
    width: 70px;
    height: 50px;
    background-color: #d81e46;
    /* box-shadow: 0 0 30px rgba(0,0,0,0.6); */
    z-index: 1;
    opacity: .8;
    border-radius: 3px;
}
.App-youtube .play-button:before {
	content: "";
	border-style: solid;
	border-width: 15px 0 15px 26.0px;
	border-color: transparent transparent transparent #fff;
}
.App-youtube img,
.App-youtube .play-button {
	cursor: pointer;
}
.App-youtube .play-button,
.App-youtube .play-button:before {
	position: absolute;
}
.App-youtube .play-button,
.App-youtube .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
}
.App-youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
@import 'mod/media.less';