// out: ../css/app.global.min.css, compress: true, sourceMap: false
* {
    outline: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}
body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: normal;
    font-size: 17px;
    color: #515151;
}
a:hover {
    color: #f1284e;
}
//img 
img:not([src]) {
    visibility: hidden;
}
figure {
    margin: 0px;
}
//icon
.App-icon {
    .App-format {
        line-height: 1.5;
    }
    .App-format::before {
        content: "";
        display: inline-block;
        font-family: "Ionicons";
        font-size: 22px;
        margin-right: 5px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .App-format-gallery::before {
        content: "\f148";
    }
    .App-format-image::before {
        content: "\f147";
    }
    .App-format-video::before {
        content: "\f4cd";
    }
    .App-format-link::before {
        content: "\f1fe";
    }
    .App-format-audio::before {
        content: "\f4ce";
    }
}
//footer 
footer.App-footer {
    background: #333;
    min-height: 50px;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    ul {
        margin: 0px;
        padding: 0px;
        height: 100%;
        li {
            display: inline-flex;
            list-style: none;
            color: #e8e8e8;
            margin-right: 10px;
            font-size: 13px;
            a {
                color: #e8e8e8;
                font-weight: 500;
            }
        }
    }
}
.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}
//Menu bottom
#app-footer-menu {
    position: fixed;
    bottom: 0;
    z-index: 99;
    background: #fff;
    right: 0;
    left: 0;
    border-top: 1px solid #e7e7e8;
    ul {
        padding: 0px;
        margin: 0px;
        display: flex;
        display: -webkit-flex;
        display: -webkit-inline-flex;
        min-height: 35px;
        width: 100%;
        align-items: center;
        justify-content: center;
        li {
            list-style: none;
            a {
                color: #000;
                font-size: 0px;
                display: block;
            }
            a::before {
                content: " ";
                font-size: 14px;
                display: inline-block;
                font-family: "Ionicons";
                font-size: 30px;
                padding: 10px 15px;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                text-rendering: auto;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        li.app-home {
            a::before {
                content: "\f447";
            }
        }
        li.app-photo {
            a::before {
                content: "\f481";
            }
        }
        li.app-video {
            a::before {
                content: "\f4cc";
            }
        }
        li.app-menu {
            a::before {
                content: "\f130";
            }
        }
        li.current_page_item {
            a::before {
                color: #4187e0;
            }
        }
    }
}
@import 'mod/youtube.less';
@import 'mod/media.less';