// out: ../css/app.single.min.css, compress: true, sourceMap: false
.App-content-single {
    margin: 1.2rem 0 2rem;
    min-height: 500px;
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
        margin-bottom: 5px;
        line-height: 30px;
    }
    .App-content-single-tag {
        font-size: 15px;
        ul {
            padding: 0px;
            li {
                list-style: none;
                display: inline-flex;
                a {
                    margin-right: 5px;
                    color: #1a6cc3;
                }
                a::before {
                    content: "#";
                }
            }
        }
    }
    #app-single-comment {
        margin-top: 2rem;
        h4 {
            background: #f2294d;
            color: #fff;
            padding: 10px;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    figure {
        margin: 0px;
    }
    img {
        width: 100%;
    }
}